@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .custom-scrollbar::-webkit-scrollbar {
      width: 12px;
    }
  
    .custom-scrollbar::-webkit-scrollbar-track {
      background: #f1f1f1; /* Track color */
    }
  
    .custom-scrollbar::-webkit-scrollbar-thumb {
      background: #888; /* Scroll thumb color */
      border-radius: 10px;
    }
  
    .custom-scrollbar::-webkit-scrollbar-thumb:hover {
      background: #555; /* Scroll thumb hover color */
    }
  
    /* Firefox scrollbar styling */
    .custom-scrollbar {
      scrollbar-width: none;
      scrollbar-color: #FF730D #f1f1f1; /* Thumb color and track color */
    }
  }

  /* Hide scrollbar initially */
.hide-scrollbar {
    overflow-y: scroll;
    scrollbar-width: none; /* For Firefox */
  }
  
  /* Custom scrollbar style for WebKit browsers */
  .hide-scrollbar::-webkit-scrollbar {
    width: 0;
  }
  
  .scrollable-content {
    /* Add your custom scrollbar styles here */
    scrollbar-width: none; /* For Firefox */
  }
  
  .scrollable-content::-webkit-scrollbar {
    width: 12px;
  }
  
  .scrollable-content::-webkit-scrollbar-track {
    background: #f1f1f1; /* Track color */
  }
  
  .scrollable-content::-webkit-scrollbar-thumb {
    background: #888; /* Thumb color */
    border-radius: 10px;
  }
  
  .scrollable-content::-webkit-scrollbar-thumb:hover {
    background: #555; /* Thumb color on hover */
  }
  


  .container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    color: #333;
    background-color: #f4f4f4;
  }
  
  .match-result {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
    color: #444;
  }
  
  .table-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .table-header {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #333;
    background-color: #ddd;
    padding: 10px;
    border-radius: 5px;
  }
  
  .stats-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .stats-table th, .stats-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  
  .stats-table th {
    background-color: #f4f4f4;
    color: #333;
  }
  
  .stats-table tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .stats-table tr:hover {
    background-color: #f1f1f1;
  }
  